<!DOCTYPE html>

<html>
<head>
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>EDU - Plus </title>   
    <base href="/" />
    
    <environment names="Development,Staging,Production">
     <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
         
    </environment>
    
     <!-- Polyfill(s) for older browsers -->
    <script src="~/lib/es6-shim/es6-shim.min.js"></script>
    <script src="~/lib/zone.js/dist/zone.js"></script>
   <script src="~/lib/reflect-metadata/Reflect.js"></script>     
    <script src="~/lib/systemjs/dist/system.src.js"></script>
    
    <script src="systemjs.config.js"></script>
     <script>       
        System.import('./app/main').catch(console.log.bind(console));
    </script>
</head>
<body>
    @Html.Partial("~/Views/Shared/_TopBar.cshtml")
    
    <div>
        <section>
            @RenderBody()
        </section>
    </div>

    @Html.Partial("~/Views/Shared/_BottomBar.cshtml")
</body>
</html>
