<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EDU - Plus </title>   
    <base href="/" />
    
    <environment names="Development,Staging,Production">
     <link rel="stylesheet" type="text/css" href="~/node_modules/bootstrap/dist/css/bootstrap.css" />
         
    </environment>
    
</head>
<body>
    @Html.Partial("~/Views/Shared/_TopBar.cshtml")
    
    <div>
        <section>
            @RenderBody()
        </section>
    </div>

    @Html.Partial("~/Views/Shared/_BottomBar.cshtml")
</body>
</html>
