<h2>Register Test </h2>
<register-app>Loading Register App</register-app>
    

@section footerScript
{
     System.import('./app/accountregister/accountregistermain').catch(console.log.bind(console));
}